/*
Credit: http://www.templatemo.com
*/

body {
	margin: 0px;
	padding: 0px;
	color: #666;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	line-height: 1.5em; 
	background-color: #fff;
	background-image: url(images/templatemo_body.jpg);
	background-repeat: repeat-x;
	background-position: top;
}

a, a:link, a:visited { color: #738407; text-decoration: none; }
a:hover { color: #0066FF; text-decoration: underline; }

p { margin: 0px; padding: 0; }
img { border: none; }

h1, h2, h3, h4, h5, h6 { color: #333; }
h1 { font-size: 40px; font-weight: normal; margin: 0 0 30px 0; padding: 5px 0; color: #333; }
h2 { font-size: 28px; font-weight: normal; margin: 0 0 30px 0; padding: 0; }
h3 { font-size: 21px; margin: 0 0 15px 0; padding: 0; padding: 0; color: #000; font-weight: normal; }
h4 { font-size: 18px; margin: 0 0 20px 0; padding: 0; }
h5 { font-size: 16px; margin: 0 0 10px 0; padding: 0; color: #8a9e0c; }
h6 { font-size: 14px; margin: 0 0 5px 0; padding: 0; }

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }
.cleaner_h10 { clear: both; width:100%; height: 10px; }
.cleaner_h20 { clear: both; width:100%; height: 20px; }
.cleaner_h30 { clear: both; width:100%; height: 30px; }
.cleaner_h40 { clear: both; width:100%; height: 40px; }
.cleaner_h50 { clear: both; width:100%; height: 50px; }
.cleaner_h60 { clear: both; width:100%; height: 60px; }

.float_l { float: left; }
.float_r { float: right; }

.image_wrapper { display: inline-block; padding: 4px; border: 1px solid #ddd; background: none; margin-bottom: 10px; }
.image_fl { float: left; margin: 3px 15px 0 0; }
.image_fr { float: right; margin: 3px 0 0 15px; }

blockquote { font-style: italic; margin-left: 10px;}
cite { font-weight: bold; color:#3b3823; }
cite span { color: #696443; }
em { color: #0066FF; }

.tmo_list { margin: 0; padding: 0; list-style: none; }
.tmo_list li { background: transparent url(images/templatemo_list.png) no-repeat scroll 0 0px; margin:0 0 20px; padding: 0; 	line-height: 1em; }

.tmo_list li span { color: #798a05; font-size: 16px; font-weight: bold; margin-right:5px; }
.tmo_list li a { color: #666666; }
.tmo_list li a:hover { color: #0066ff; }

.button a {
	display: block;
	width: 82px;
	height: 24px;
	color: #666;
	padding: 2px 0 0 18px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	background: url(images/templatemo_button.png) no-repeat;
}

.button a:hover {
	color: #000;
	background: url(images/templatemo_button_hover.png) no-repeat;
}

#templatemo_wrapper {
	width: 970px;
	padding: 0 10px;
	margin: 0 auto;
}

#templatemo_header {
	width: 910px;
	padding: 15px 30px;
}

#templatemo_header  #site_title {
	float: left;
	margin: 10px 0 0 0;
}

#templatemo_header  #site_title h1 {
	margin: 0;
	padding: 0;
}

#templatemo_header  #site_title h1 a {
	margin: 0px;
	padding: 0px;
	font-size: 40px;
	color: #889b0b;
	font-weight: bold;
	text-decoration: none;
}

#templatemo_header  #site_title a span {
	display: block;
	text-align: right;
	font-size: 16px;
	color: #333;
	font-weight: normal;
	margin-left: 2px;
	margin-top: 5px;
}

#social_box {
	float: right;
	display: inline-block;
	margin: 10px 0 0;
	padding: 0;
	list-style: none;
}

#social_box li {
	display: block;
	float: left;
	padding: 0;
	margin: 0;
}

#social_box li a {
	width: 48px;
	height: 48px;
	margin-right: 5px;
}

/* menu */

#templatemo_menu {
	clear: both;
	width: 910px;
	padding: 0 30px;
	height: 45px;
	background: url(images/templatemo_menu.png) bottom center no-repeat;
}

#templatemo_menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#templatemo_menu li {
	padding: 0px;
	margin: 0px;
	display: inline-block;
}

#templatemo_menu ul li a {
	float: left;
	display: block;
	height: 30px;
	width: 100px;
	padding: 15px 5px 0 0;
	font-size: 14px;
	color: #666;	
/*	text-shadow: 1px 1px 1px #fff; */
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	outline: none;
	border: none;
}

#templatemo_menu ul li a:hover,  #templatemo_menu ul li .current {
	color: #333;
/*	text-shadow: 1px 1px 1px #d2f6fc; */
	background: url(images/templatemo_menu_hover.png) no-repeat top;
}
/* end of menu */

/* banner */
#templatemo_banner_wrapper {
	clear: both;
	width: 930px;
	padding: 0 10px;
	margin: 0 10px;
	background: url(images/templatemo_content.png) repeat-y center;
}
#templatemo_banner_thin {
	width: 930px;
	height: 10px;
	padding: 0px;
	background: url(images/templatemo_banner.png) no-repeat center top;
}

#templatemo_banner {
	width: 870px;
	height: 210px;
	padding: 30px;
	background: url(images/templatemo_banner.png) no-repeat center top;
}

#templatemo_banner img {
	float: left;
	width: 300px;
	height: 200px;
	margin-right: 50px;
	border: 5px solid #bbf4fe;
}

#templatemo_banner h1 {
	color: #000;
	line-height: 38px;
	font-weight: normal;
	margin-bottom: 10px;
/*	text-shadow: 1px 1px 1px #fff; */
}

#templatemo_banner p {
	font-size: 22px;
	line-height: 26px;
	margin-bottom: 20px;
}
/* end of banner */

#templatemo_service_bar_wrapper {
	clear: both;
	width: 930px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0px;
	margin: 0 10px;
	background: url(images/templatemo_content.png) repeat-y center;
}

#templatemo_service_bar {
	width: 890px;
	height: 55px;
	padding: 20px;
	background: url(images/templatemo_sp_box.jpg) no-repeat;
}

#templatemo_service_bar .sb_box {
	float: left;
	width: 270px;
	margin: 0 40px 0 0;
}

#templatemo_service_bar .sb_box_last {
	margin-right: 0;
}

#templatemo_service_bar img {
	float: left;
	width: 48px;
	height: 48px;
	margin-right: 10px;
}

#templatemo_service_bar a {
	line-height: 22px;
	color: #fff;
 	font-weight: bold;
	text-decoration: none;
}

#templatemo_service_bar a:hover {
	text-decoration: none;
}

#templatemo_content_wrapper {
	clear: both;
	width: 930px;
	padding: 0 10px;
	margin: 0 10px;
	background: url(images/templatemo_content.png) repeat-y center;
}

#templatemo_content {
	width: 870px;
	padding: 30px;
}

#templatemo_content p {
	margin-bottom: 10px;
}

.col_260 {
	float: left;
	padding: 0 20px 0 0;
	width: 180px;
	margin-right: 0px;
}

.col_w565 {
	float: left;
	width: 630px;
	margin-right: 40px;
}

.col_last {
	margin-right: 0;
}


.sb_news_box {
	margin-bottom: 20px;
}

.sb_news_box a {
	color: #8a9e0c;
	font-size: 12px;
	text-decoration: none;
}

.sb_news_box a:hover { color: #0066FF; }

.sb_news_box span {
	color: #333;
	font-weight: normal;
}

.service_box {
	clear: both;
	margin-bottom: 50px;
}

.service_box img {
	float: left;
	width: 48px;
	height: 48px;
}

.service_box .sb_right {
	float: right;
	width: 500px;
}

#contact_form {
	padding-left: 0;
}

#contact_form form {
	margin: 0px;
	padding-left: 320px;
}

#contact_form fieldset {
	margin: 0px;
	padding-left: 25px;
	border:#899D08 2px solid;
	width: 250px;
	text-align:left;
	vertical-align:middle;
	border-radius: 10px;
}

#contact_form form .input_field {
	width: 150px;
	padding: 5px;
	background: #fff;
	border: 1px solid #ccc;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
}

#contact_form form label {
	display: block;
	width: 100px;
	margin: 10px 0px 5px 0px;
	font-size: 14px;
	color: #333;
}

#contact_form form textarea {
	width: 350px;
	height: 200px;
	padding: 10px;
	background: #fff;
	border: 1px solid #ccc;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
}

#contact_form form .submit_btn {
	background: #fff;
	border: 1px solid #ccc;
	margin: 0px;
	padding: 7px;
}

#gallery {
	clear: both;
	margin-top: 30px;
}

#gallery ul { list-style: none; margin: 0; padding: 0; }

	#gallery ul li {
		float: left;
		display: block; 
		padding: 0;
		margin: 0;
		width: 260px;
		margin: 0 40px 40px 0;
	}
	
	#gallery ul .right_most {
		margin: 0 0 35px 0;
	}
	
	#gallery ul li h5 {
		color: #8a9e0c;
		margin-bottom: 15px;
	}
	 
	#gallery ul img {
		width: 250px;
		height: 130px;
		border: 5px solid #fff;
		margin-bottom: 10px;
	}

#templatemo_footer_wrapper {
	clear: both;
	width: 100%;
	background: #899d08;
}

#templatemo_footer {
	width: 910px;
	padding: 50px 40px 15px;
	text-align: center;
	color: #2d3400;
	margin: 0 auto;
	background: #899d08 url(images/templatemo_footer.png) top center no-repeat;
}

#templatemo_footer a {
	color: #2d3400;
}


/* table Sorter */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #AAB563;
	border: none;
	font-size: 8pt;
	padding: 4px;
	border:	#FFFFFF;
	
}
table.tablesorter thead th.header {
	background-image: url(images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 2px 4px 2px 4px;
	background-color: #FFF;
	vertical-align: middle;
	
}

table.tablesorter tbody td a {
	text-decoration:none;
	color:#fff;
}
table.tablesorter tbody td a:hover {
	text-decoration:none;
	color:#fff;
}

table.tablesorter tbody td textarea{
	border:none;
	padding: 2px;
	font-size:10pt;
	background-color:#fff;
	color:#808180;
	text-align:left;
	vertical-align:top;
	overflow: auto;
}

table.tablesorter tbody tr.odd td {
	background-color:#D9E29E;
}

table.tablesorter tbody tr.odd a {
	text-decoration:none;
	color:#FCE9C2;
}
table.tablesorter tbody tr.odd a:hover {
	text-decoration:none;
	color:#FCE9C2;
}

table.tablesorter thead tr .headerSortUp {
	background-image: url(images/asc.gif);
	background-repeat: no-repeat;
	background-position: center right;
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(images/desc.gif);
	background-repeat: no-repeat;
	background-position: center right;
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #93A80F;
}

/* table Sorter Pager */

div.tablesorterPager {
	padding: 5px 0 5px 0;
	background-color: transparent;
	text-align: center;
	width:650px;
	border:0px;
	position:absolute;
}
div.tablesorterPager span {
	padding: 0 5px 0 5px;
}
div.tablesorterPager input.prev {
	width: auto;
	margin-right: 10px;
}
div.tablesorterPager input.next {
	width: auto;
	margin-left: 10px;
}
div.tablesorterPager input {
	font-size: 10px;
	width: 50px;
	border: 1px solid #dfdfdf;
	text-align: center;
}
